<section class="container criar-pensamentos">
  <header class="header">
    <h2>Adicione um <br>Pensamento</h2>
    <form>
      <label for="pensamento">Pensamento: </label>
      <input
        type="textarea"
        class="input"
        id="pensamento"
        name="pensamento"
        placeholder="Digite o pensamento"
        [(ngModel)]="thoughts.content"

      >

      <label for="autoria">Autoria ou fonte: </label>
      <input
        type="text"
        class="input"
        id="autoria"
        name="autoria"
        placeholder="Digite a autoria ou fonte"
        [(ngModel)]="thoughts.author"
      >

      <label for="modelo1">Seleciona o modelo do card:</label>
      <div class="container-radio">
        <div class="radio-modelo">
          <label for="modelo1">
            <input
              type="radio"
              id="modelo1"
              value="modelo1"
              name="modelo-card"
              [(ngModel)]="thoughts.model"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 1</span>
          </label>
          Prévia:
          <div class="modelo modelo1 ff-roboto-mono">
            <img src="../../../../assets/images/modelo1.png" alt="Aspas Azuis">
            <p class="conteudo">{{ thoughts.content }}</p>
            <p class="autoria"><b>{{ thoughts.author }}</b></p>
          </div>
        </div>

        <div class="radio-modelo">
          <label for="modelo2">
            <input
              type="radio"
              id="modelo2"
              value="modelo2"
              name="modelo-card"
              [(ngModel)]="thoughts.model"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 2</span>
          </label>
          Prévia:
          <div class="modelo modelo2 ff-roboto-mono">
            <img src="../../../../assets/images/modelo2.png" alt="Aspas Azul claro">
            <p class="conteudo">{{ thoughts.content }}</p>
            <p class="autoria"><b>{{ thoughts.author }}</b></p>
          </div>
        </div>

        <div class="radio-modelo">
          <label for="modelo3">
            <input
              type="radio"
              id="modelo3"
              value="modelo3"
              name="modelo-card"
              [(ngModel)]="thoughts.model"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 3</span>
          </label>
          Prévia:
          <div class="modelo modelo3 ff-roboto-mono">
            <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes">
            <p class="conteudo">{{ thoughts.content }}</p>
            <p class="autoria"><b>{{ thoughts.author }}</b></p>
          </div>
        </div>

      </div>
      <div class="acoes">
        <button class="botao" (click)="handleCreateThought()">Salvar</button>
        <button class="botao" (click)="cancelThought()">Cancelar</button>
      </div>
    </form>
  </header>
</section>
