<section class="container">
  <header class="content d-flex">
    <div class="buscar-pensamentos">
      <input type="search" class="filtro" placeholder="O que você procura?" autofocus [(ngModel)]="filter" (keyup)="filterThoughts()">
      <img src="./assets/images/lupa.png" alt="Lupa azul" >
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/createThoughts" class="botao">Adicionar pensamentos</button>
  </header>
  <div class="mural" *ngIf="thoughtsList.length > 0, else noThoughts">
    <div *ngFor="let pensamento of thoughtsList">
      <app-thought [thought]="pensamento"></app-thought>
    </div>
  </div>
</section>
<app-load-more-button [hasThoughts]="hasMoreThoughts" (click)="loadMoreThoughts()"></app-load-more-button>
<ng-template #noThoughts>
  <div class="ff-inter sem-pensamentos">
    <p>Não há pensamentos cadastrados</p>
  </div>
</ng-template>
